body {
    font-family: 'Montserrat', sans-serif;
}

/* media query */
@media only screen and (max-width: 1025px) {
    .aboutdataHolder h1{
        font-size: 97px !important;
    }
  
}
@media only screen and (max-width: 544px) {
    .aboutdataHolder h1{
        font-size: 65px !important;
    }
  
}


/* navbar */

@media all and (min-width: 992px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar .has-megamenu {
        position: static!important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px;
    }
    .navbar .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

.navbarSticky {
    position: sticky;
    top: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 3;
    background: white;
    width: 100%;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 400;
}

.bottomLine {
    margin-top: 2px;
    /* margin-bottom: 20px; */
    border: 0;
    border-bottom: 1px solid #dddddd;
}

.nav-link {
    font-weight: 600;
}

.logo {
    width: 125px;
    height: 70px;
    transition: .5s ease;
}

.logo:hover {
    transform: scale(1.05);
}

/* slider */

.jislider__left-arrow {
    position: absolute;
    left: 10px;
    top: 0;
    padding-bottom: 7px;
    border: none;
    line-height: 1px;
    font-size: 50px;
    border-radius: 38px;
    bottom: 0;
    margin: auto;
    background: #ffffff63;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.jislider__right-arrow {
    position: absolute;
    right: 10px;
    padding-bottom: 7px;
    border: none;
    line-height: 1px;
    top: 0;
    font-size: 50px;
    border-radius: 38px;
    bottom: 0;
    margin: auto;
    background: #ffffff63;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.jislider__left-arrow {
    opacity: 0;
    transition: .4s ease-in-out;
    transform: translateX(0px);
}

.jislider__right-arrow {
    opacity: 0;
    transform: translateX(0px);
    transition: .4s ease-in-out;
}

.carouselHolder :hover .jislider__left-arrow {
    opacity: 1;
    transform: translateX(20px);
}

.carouselHolder :hover .jislider__right-arrow {
    opacity: 1;
    transform: translateX(-20px);
}

.jislider__left-arrow:hover, .jislider__right-arrow:hover {
    background-color: #579378;
    color: white;
}

.owl-dotsCustom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
}

.owl-dotsCustom2 {
    position: absolute;
    bottom: 10px;
    right: 25px;
    width: auto;
}

/* hambur */

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 4;
    stroke-linecap: round;
}

.ham7 .top {
    stroke-dasharray: 40 82;
}

.ham7 .middle {
    stroke-dasharray: 40 111;
}

.ham7 .bottom {
    stroke-dasharray: 40 161;
}

.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.ham7.active .middle {
    stroke-dashoffset: 23px;
}

.ham7.active .bottom {
    stroke-dashoffset: -83px;
}

/* carousel */

#JiSlider {
    width: 100%;
    height: 100%;
}

.carouselHolder {
    height: 86vh;
    width: 100%;
}

.sliderImage {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-image: url(../src/2.jpg);
    background-repeat: no-repeat;
}

/* COLLECTIONS */

.collectionHolder {
    margin: 8% auto;
    width: 90%;
}

.collectionheader h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin: 10px 10px 25px 10px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.collectionheader h3:after, .collectionheader h3:before {
    display: inline-block;
    content: "";
    border-top: 1.5px solid black;
    width: 6%;
    margin: 0 1.2%;
    transform: translateY(-11px);
}

.collectionImage {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.diffHeight {
    height: 280px !important;
}

/* another hover  */

.banner a:visited {
    color: black;
    text-decoration: none;
}

.banner a:hover {
    text-decoration: none;
}

.prodBanner {
    position: absolute;
    bottom: 30px;
    right: 40px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    transition: opacity .5s ease;
    padding: 7px 7px 8px 8px;
    background: #fff;
    color: #333333;
    text-transform: uppercase;
}

.banner:hover .bannerOverlay {
    display: block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    top: 40%;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    z-index: 999;
    font-size: 28px;
    font-weight: bold;
    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    -o-transition: opacity .8s;
    transition: opacity .8s;
}

.bannerOverlay {
    display: none;
}

.banner {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    max-width: 460px;
    width: 100%;
    color: white;
    height: 100%;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
}

.banner img {
    max-width: 100%;
}

.bannerOverlay a {
    display: block;
    max-width: 110px;
    background: #fff;
    margin: auto;
    margin-top: 25px;
    padding: 0;
    color: #000;
    height: 30px;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.product-img:after {
    z-index: 99;
    background: rgba(0, 0, 0, 0.2);
    bottom: 50%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin: 10px 0;
    opacity: 0;
}

.product-img:before {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    opacity: 0;
    margin: 10px 0;
    z-index: 99;
}

.banimgHolder {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    min-height: 100%;
    height: 380px;
    transition: 0.35s ease-in-out;
    transform-origin: center;
    min-width: 100%;
    font-weight: 600;
    filter: brightness(0.8);
    font-family: 'Open Sans', sans-serif;
}

.banner:hover .product-img:before {
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.banner:hover .product-img:after {
    top: 0;
    bottom: 0;
    opacity: 1;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.banner:hover .prodBanner, .banner:hover .prodBanner {
    opacity: 0;
}

/* collection hover effect */

/*---------------*/

/***** Marley *****/

/*---------------*/

figure.effect-marley figcaption {
    text-align: right;
}

figure.effect-marley h4 {
    position: absolute;
    right: 20px;
    /* left: 30px; */
}

figure.effect-marley .viewButton {
    bottom: 30px;
    position: absolute;
    left: 30px;
    border: .5px solid white;
    padding: 8px 13px;
    border-radius: 4px;
    font-size: 14px;
    backdrop-filter: blur(6px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    width: max-content;
    cursor: pointer;
    transition: 1s ease-in-out;
}

figure.effect-marley .viewButton:hover {
    background-color: white;
    color: black;
}

figure.effect-marley h4 {
    top: 20px;
    font-size: 22px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-marley:hover h4 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-marley h4::after {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-marley h4::after, figure.effect-marley .viewButton {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: all 0.35s;
}

figure.effect-marley:hover h4::after, figure.effect-marley:hover .viewButton {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-marley:hover .collImage {
    transform: scale(1.05);
    filter: brightness(0.6);
}

.grid figure {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    max-width: 460px;
    width: 100%;
    color: white;
    height: 100%;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
}

.grid figure .collImage {
    position: relative;
    display: block;
    min-height: 100%;
    height: 380px;
    transition: 0.35s ease-in-out;
    transform-origin: center;
    min-width: 100%;
    font-weight: 600;
    filter: brightness(0.8);
    font-family: 'Open Sans', sans-serif;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption, .grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* subscribe */

.subHolder {
    margin: 4% auto;
}

.subContent {
    padding: 10% 12%;
}

.subContent h3 {
    margin-bottom: 15px;
    font-weight: 600;
}

.subContent input {
    width: 89%;
    margin: 0 10px;
    border-radius: 4px;
    padding: 8px;
    border: none;
}

.subContent input:focus {
    outline: none;
}

.subContent p {
    font-size: 15px;
}

.aboutButton {
    padding: 9px 23px;
    color: white;
    background-color: #1f1f1f;
    transition: .2s ease-in-out;
    border-radius: 6px;
    text-align: center;
    width: max-content;
    margin: 15px;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.aboutButton:hover {
    color: #1f1f1f;
    background-color: white;
}

/* footer */

.footerholder {
    background-color: #414141;
    color: white;
    padding: 20px 10px;
    margin: 2px 0;
    min-height: 290px;
}

.footerData {
    margin: 40px auto;
}

.footerData a {
    color: white;
    font-size: 14px;
    display: block;
}

.footerData h5 {
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

.footerData i {
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
}

.footerData p {
    font-size: 14px;
}

/* shop page */

.productsTitle {
    text-align: center;
    padding: 20px 10px;
    margin: 3% auto;
}

.productsTitle h2 {
    font-weight: 600;
    font-size: 35px;
}

.productsTitle p {
    font-size: 13px;
}

.productsTitle h2::before, .productsTitle h2::after {
    display: inline-block;
    content: "";
    border-top: 1.5px solid black;
    width: 6%;
    margin: 0 1.5%;
    transform: translateY(-8px)
}

/* products */

figure.effect-marley .viewProduct {
    position: absolute;
    left: 50%;
    margin-left: -70.5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

figure.effect-marley .viewProduct {
    bottom: 30px;
    /* border: .5px solid rgb(46, 45, 45); */
    padding: 8px 13px;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(46, 45, 45);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    width: 140px;
    cursor: pointer;
}

figure.effect-marley .viewProduct:hover {
    background-color: white;
    color: black;
}

figure.effect-marley .viewProduct {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: all 0.35s ease-in-out;
    transition-delay: .15;
}

figure.effect-marley:hover .viewProduct {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-marley:hover .productImage {
    transform: scale(1.05);
    filter: brightness(0.6);
}

.grid figure .productImage {
    position: relative;
    display: block;
    min-height: 100%;
    height: 300px;
    transition: 0.35s ease-in-out;
    transform-origin: center;
    min-width: 330px;
    width: 100%;
    /* filter: brightness(0.8) */
}

figure.effect-marley:hover .productImage {
    transform: scale(1.05);
    filter: contrast(1.5);
}

.productDetails {
    position: relative;
    padding: 2px;
    margin: 5px auto;
    text-align: center;
    height: 57px;
    margin-top: 0;
    max-width: 330px
}

.productDetails h6 {
    position: absolute;
    left: 5px;
    font-size: 15px;
    top: 5px;
    font-weight: 600;
}

.productDetails p {
    position: absolute;
    left: 6px;
    top: 25px;
    margin-bottom: 0;
    font-size: 13px;
    padding: 2px;
}

.productDetails .proPrice {
    position: absolute;
    right: 5px;
    font-size: 14px;
    top: 5px;
    font-family: 'Lato', sans-serif;
}

.productRow {
    margin: 2% auto;
}

/* Model */

.modelImage {
    background-image: url(../src/3.jpg);
    height: 400px;
    width: 92%;
    background-size: cover;
    margin: 0 auto;
    max-width: 450px;
    background-position: center;
    background-repeat: no-repeat;
}

.modelContent p {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.modelContent h4 {
    font-weight: 600;
    margin: 10px 20px;
}

.modelContent {
    margin: 20px 5px;
    margin-top: 30px;
}

.closeButton {
    /* position: re; */
    top: 3px;
    position: absolute;
    right: 0px;
    margin: 8px 20px;
    font-size: 40px;
    font-weight: 600;
    z-index: 20;
}

/* featured products */

.fetProducts {
    width: 80%;
    margin: 8% auto;
}

.feturedImage {
    max-width: 400px;
    background-size: cover;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px auto;
    background-image: url(../src/others.jpg);
    width: 100%;
    transition: .3s ease;
}

.feturedImage:hover {
    transform: scale(1.04);
}

.fetimgHolder p {
    text-align: center;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.featured :hover .jislider__left-arrow {
    opacity: 1;
    transform: translateX(20px);
}

.featured:hover .jislider__right-arrow {
    opacity: 1;
    transform: translateX(-20px);
}

/* testimonials */

.testimialHolder {
    margin: 8% auto;
}

.testimonialSlide {
    height: 300px;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
}

.testimialHolder :hover .jislider__left-arrow {
    opacity: 1;
    transform: translateX(20px);
}

.testimialHolder:hover .jislider__right-arrow {
    opacity: 1;
    transform: translateX(-20px);
}

.testimonial-card {
    min-height: 400px;
    width: 100%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #000000;
    background-image: linear-gradient(191deg, #000000 0%, #2c2b2bb3 96%);
}

.text {
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 16px;
}

.image {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background: no-repeat center/cover url(../src/profile.png);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

#testimonial .item {
    margin: 1px;
}

.footer {
    height: 140px;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.quote {
    font-size: 400% !important;
    float: right;
    opacity: .1;
    transform: rotate(10deg) translate(8px, -3px);
    color: white;
}

.person {
    color: white;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

/* paralallax */

.parHolder {
    width: 100%;
    height: 50vh;
    background-image: url(../src/dining.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* about.html */

.aboutImage {
    width: 100%;
    height: 100%;
    min-height: 91vh;
    background-image: url(../src/aboutUs.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.contactForm {
    height: 70%;
    width: 100%;
    max-width: 370px;
    background-color: #871616;
    box-shadow: 1px 1px 13px 4px #00000054;
    padding: 15px;
    margin: 10px auto;
    border-radius: 4px;
    margin-bottom: 100px;
    text-align: center;
}

.contactForm h3 {
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: black;
}

.inputForm {
    padding: 8px 20px;
    border: none;
    border-radius: 30px;
    margin: 10px auto;
    background-color: #ffffffb8;
    width: 95%;
}

.inputForm:focus {
    outline: none;
}

input:focus~.floating-label, input:not(:focus):valid~.floating-label {
    top: -6px;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 11px;
    opacity: 1;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 27px;
    top: 20px;
    opacity: .8;
    font-size: 15px;
    transition: 0.25s ease all;
}

.formButton {
    text-align: center;
    padding: 8px;
    margin: 8px auto;
    background-color: black;
    color: white;
    border: none;
    width: 140px;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 600;
}

.formButton:focus {
    outline: none;
}

.formButton:hover {
    color: black;
    background-color: white;
}
.aboutdataHolder h1{
    font-size: 140px;
    font-weight: 900;
    color: white;
    margin: 10px auto;

}
.aboutdataHolder {
    backdrop-filter: blur(1.5px);
    margin: 3% auto;
    width: max-content;
    padding: 30px 2%;
    
}
.aboutdataHolder p{
    color: white;
    padding: 10px;
    font-size: 18px;
    max-width: 360px;
    width: 90%;
}
.downButton{
    text-align: center;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    color: white;
    border: .8px solid white;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    bottom: 4%;
    

}
.downButton i{
    bottom: 50%;
    margin-bottom: -10px;
    width: 20px;
    margin-left: -10px;
    position: absolute;
    left: 50%;
    height: 20px;
}
.updownanim{
    animation-name: upandddown;
    animation-iteration-count: infinite;
    
    animation-duration: .8s;
    animation-direction: alternate;
    position: absolute;
}
@keyframes upandddown{
    0% {bottom: 42%;}
    100% {bottom: 58%;}
}
.aboutwhyHolder{
    margin: 8% auto;
}
.jusCenter{
    display: flex;
    justify-content: center;
}
.abouticonHolder{
    margin: 5px auto;
    padding: 10px;
    text-align: center;
}
.abouticonHolder img{
    width: 80px;
    height: 80px;
}